

<div class="container">

  <table>
    <tr>
      <th>Site</th>
    </tr>

    <% @jobnumbers.each do |jobnumber| %>
      <tr>
        <td><%= jobnumber.Site__c %></td>
      </tr>
    <% end %>
  </table>

</div>
